parameters:
	ignoreErrors:
		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: config/http_client.php

		-
			message: '#^Variable \$argv might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: console

		-
			message: '#^Method Core\\Database\\Migrator\:\:migrate\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/App/Commands/MigrateCommand.php

		-
			message: '#^Result of method Core\\Database\\Migrator\:\:migrate\(\) \(void\) is used\.$#'
			identifier: method.void
			count: 1
			path: src/App/Commands/MigrateCommand.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/App/Commands/MigrateCommand.php

		-
			message: '#^Variable \$migrations in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/App/Commands/MigrateCommand.php

		-
			message: '#^Method Core\\Database\\Migrator\:\:rollback\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/App/Commands/MigrateRollbackCommand.php

		-
			message: '#^Result of method Core\\Database\\Migrator\:\:rollback\(\) \(void\) is used\.$#'
			identifier: method.void
			count: 1
			path: src/App/Commands/MigrateRollbackCommand.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/App/Commands/MigrateRollbackCommand.php

		-
			message: '#^Variable \$migrations in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/App/Commands/MigrateRollbackCommand.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/App/Commands/QueueWorkCommand.php

		-
			message: '#^Anonymous function has an unused use \$status\.$#'
			identifier: closure.unusedUse
			count: 1
			path: src/App/Controllers/ApiController.php

		-
			message: '#^Anonymous function has an unused use \$verified\.$#'
			identifier: closure.unusedUse
			count: 1
			path: src/App/Controllers/ApiController.php

		-
			message: '#^Offset ''description'' does not exist on array\{class\: string, method\: string\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Core/Console/ConsoleApplication.php

		-
			message: '#^Property Core\\Http\\Client\\HttpRequest\:\:\$verifySSL \(bool\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Core/Http/Client/CurlHttpClient.php
